@*------------------------------------------------------------
  Copyright (c) Microsoft Corporation.  All rights reserved.
  Licensed under the MIT License (MIT). See License.txt in the repo root for license information.
------------------------------------------------------------*@

@using Microsoft.Azure.IIoT.Platform.Registry.Api;
@using Microsoft.Azure.IIoT.App.Common;
@using Microsoft.Azure.IIoT.App.Components.Loader;

@inject UICommon CommonHelper
@inject IRegistryServiceApi RegistryService

<div class="drawer-content list-group">
    <div class="list-group-item text-left">
        @if (Application != null) {
            <div class="label">
                Asset Uri:
                <div class="body">
                    @(string.IsNullOrEmpty(Application.Application.ApplicationUri)
                    ? CommonHelper.None
                    : Application.Application.ApplicationUri)
                </div>
            </div>
            <div class="label">
                Supervisor Id:
                <div class="body">
                    @(string.IsNullOrEmpty(EndpointData.EndpointModel.SupervisorId)
                        ? CommonHelper.None
                        : EndpointData.EndpointModel.SupervisorId)
                </div>
            </div>
            <div class="label">
                Endpoint Id:
                <div class="body">
                    @(string.IsNullOrEmpty(EndpointData.EndpointModel.Id)
                        ? CommonHelper.None
                        : EndpointData.EndpointModel.Id)
                </div>
            </div>
            <div class="label">
                Not Seen Since:
                <div class="body">
                    @(string.IsNullOrEmpty(EndpointData.EndpointModel.NotSeenSince.ToString())
                        ? CommonHelper.None
                        : EndpointData.EndpointModel.NotSeenSince.ToString())
                </div>
            </div>
            <div class="label">
                Supported Authentication Methods:
                <div class="body">
                    @{
                        if (EndpointData.EndpointModel.AuthenticationMethods != null) {
                            foreach (var authenticationMethod in EndpointData.EndpointModel.AuthenticationMethods) {
                                <div class="body">@authenticationMethod.CredentialType.ToString()</div>
                            }
                        }
                        else {
                            <div class="body">@CommonHelper.None</div>
                        }
                    }
                </div>
            </div>
        }
        <Spinner IsLoading=@IsLoading></Spinner>
    </div>
</div>